//font-family: 'Barlow Condensed', sans-serif;
//font-family: 'Lobster', cursive;
//font-family: 'Roboto', sans-serif;

// orange: #f15025
// black: #353531
//navy blue: #2d3142
//grey: #ced0c3

body {
  font-family: 'Lobster', cursive;
}

//Banner Section

header {
  height: 100vh;
  background: url(../img/header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner-center {
  padding: 50px 100px;
  background: rgba(0, 0, 0, 0.7);
}

.banner-underline {
  width: 300px;
  height: 3px;
  background: #f15025;
}

.explore {
  width: 300px;
  font-size: 30px;
  border-radius: 0;
  border-width: 3px;
}

//End of Banner



//Skills Section

.text-underline {
  margin: 0 auto;
  width: 100px;
  height: 3px;
  background: #f15025;
}

.skills-text {
  font-size: 1.5em;
}

.skills-body {
  font-family: 'Roboto', sans-serif;
}

.skills-btn {
  background: #f15025;
  width: 200px;
  border: 0;
}

//End of Skills



//About Section

#about {
  background: #2d3142;
}

.about-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
}

.pic {
  height: 600px;
  background: url(../img/about.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-bottom: 600px solid transparent;
  border-left: 100px solid #2d3142;
}