// font-family: 'Barlow Condensed', sans-serif;
// font-family: 'Indie Flower', cursive;

// orange: #f15025
// black: #353531
//navy blue: #2d3142
//grey: #ced0c3

body {
  font-family: 'Indie Flower', cursive;
}

header {
  height: 100vh;
  background: url(../img/header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner-center {
  padding: 50px 100px;
  background: rgba(0, 0, 0, 0.7);
}

.banner-underline {
  width: 300px;
  height: 3px;
  background: #f15025;
}

.explore {
  width: 300px;
  font-size: 30px;
  border-radius: 0;
  border-width: 3px;
}