<% include ./partials/header %>

  <header>
    <div class="banner-center text-center">
      <h1 class="display-2">Coffee Junkie</h1>
      <div class="banner-underline"></div>
      <a href="#skills">Explore</a>
    </div>
  </header>
  

  
<% include ./partials/footer %>