<% include ./partials/header %>
  
  <!-- Header Section -->
  <header class="d-flex align-items-center justify-content-center">
    <div class="banner-center text-center">
      <h1 class="display-2 text-white mb-3">Coffee Junkie</h1>
      <div class="banner-underline mx-auto mb-5"></div>
      <a href="#skills" class="btn btn-outline-light btn-lg explore">Explore</a>
    </div>
  </header>
  <!-- End of Header Section -->
  
  
  
  <!-- Skills Section -->
  <section id="skills" class="container-fluid text-center">
    
  </section>
  <!-- End of Skills Section -->

  
<% include ./partials/footer %>