body {
  font-family: 'Lobster', cursive; }

.navbar.fixed-top {
  background: rgba(0, 0, 0, 0.5); }

.navbar .navbar-brand {
  color: #f15025;
  transition: .3s; }

.navbar .navbar-brand:hover {
  color: #ea9079; }

header {
  height: 100vh;
  background: url(../img/header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.banner-center {
  padding: 50px 100px;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  position: relative;
  top: -200px; }

.banner-underline {
  width: 300px;
  height: 3px;
  background: #f15025; }

.explore {
  width: 300px;
  font-size: 30px;
  border-radius: 0;
  border-width: 3px; }

#skills {
  padding: 150px 0; }

.text-underline {
  margin: 0 auto;
  width: 100px;
  height: 3px;
  background: #f15025; }

.skills-text {
  font-size: 1.5em; }

.skills-body {
  font-family: 'Roboto', sans-serif; }

.skills-btn {
  background: #f15025;
  width: 200px;
  border: 0; }

.about-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em; }

.pic {
  height: 600px;
  background: url(../img/about.jpg) no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  border-bottom: 600px solid transparent;
  border-left: 100px solid #343A40; }

#contact {
  padding: 150px 0; }

form {
  font-family: 'Roboto', sans-serif; }

.form-btn {
  background: #f15025;
  border: 0; }

.footer-text {
  font-size: 1.25em;
  font-family: 'Roboto', sans-serif; }

.facebook, .twitter, .instagram, .google, .linked {
  color: white;
  position: relative;
  top: 0;
  transition: .3s; }

.facebook:hover {
  color: #3b5998;
  top: -5px; }

.twitter:hover {
  color: #1DA1F2;
  top: -5px; }

.instagram:hover {
  color: #262626;
  top: -5px; }

.google:hover {
  color: #d62d20;
  top: -5px; }

.linked:hover {
  color: #0077B5;
  top: -5px; }

.copy-text {
  font-size: .8em;
  font-family: 'Roboto', sans-serif; }
